<template name="exportsTable">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">URL</th>
                <th scope="col">Progress</th>
            </tr>
        </thead>
        <tbody>
            {{#each exports}}
                <tr>
                    <th scope="row">{{getTableNb @index}}</th>
                    <td>
                        {{#if url}}
                            <a href="{{url}}" target="_blank">{{url}}</a>
                        {{else}}
                            {{> spinner }}
                        {{/if}}

                    </td>
                    <td>
                        <div class="progress">
                            <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="{{progress}}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{progress}}%"
              >
                                {{progress}}%
              </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>